body{
    font-family: 'Baloo Bhai 2', cursive;
    color: black;
    margin: 0px;
    padding: 0px;
    background: url('img/bg.jpg');
}
.left{
    display: inline-block;
    position: absolute;
    left:34px;
    top: 20px;
    /* border: 2px solid red; */
}
.left img{
    width: 100px;
    height: 65px;
    filter: invert(100%);
}
.left div{
    line-height: 12px;
    text-align: center;
    font-size: 18px;
}
.mid{
    display: block;
    width: 40%;
    margin: 20px auto;
    /* border: 2px solid green; */
}
.right{
    position: absolute;
    right: 34px;
    top: 30px;
    display: inline-block;
    /* border: 2px solid yellow; */
}
.navbar{ 
    display: inline-block;
}
.navbar li{
    display: inline-block;
} 
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 34px 23px;        
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: grey;
}
.btn{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0px 9px;
    color: white;
    background-color: black;
    padding: 2px 7px;
    border: 2px solid grey;
    border-radius: 10px;
    cursor: pointer;
    font-size: 13px;
}
.btn:hover{
    background-color: rgb(49, 47, 47);
}
.container{
    border: 2px solid white;
    margin: 80px 100px;
    padding: 75px;
    width: 45%;
    border-radius: 30px;
}
.form-group input{
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
    display: block;
    width: 400px;
    padding: 1px;
    border: 2px solid black;
    margin: 5px auto;
    font-size: 17px;
    border-radius: 5px;
    font-weight: bold;
}
.container h1{
    text-align: center;
}

.container button{
    display: block;
    width: 23%;
    margin: 8px auto;
    line-height: 2;
}